body {
	font-family: 'Maven Pro', Poppins, Calibri, 'Trebuchet MS', sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

h1 {
	text-align: center;
	color: #3f51b5;
	margin-bottom: 20px;
}

canvas {
	width: 100% !important;
}

/* Media queries for monitors with different resolutions */
/* resolution<720p */
@media only screen and (max-width: 1280px) {
	.container {
		width: 90%;
	}
}

/* 720p<resolution<1080p */
@media only screen and (min-width: 1281px) and (max-width: 1920px) {
	.container {
		width: 80%;
	}
}

/* 1080p<resolution<2160p */
@media only screen and (min-width: 1921px) and (max-width: 3840px) {
	.container {
		width: 70%;
	}
}

/* resolution>2160p */
@media only screen and (min-width: 3841px) {
	.container {
		width: 60%;
	}
}
